.header {
 background-image: url(../../../images/Rectangle\ 28.png);
 height: 200px;
 background-repeat: none;
 text-align: center;
 

}
h4{
    color:rgb(240, 234, 234);
    margin:auto;
    font-size: 32px;
    
}